In [2]:
# importar librerias
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import streamlit as st
import plotly.express as px

In [5]:
# Cargar el dataset 'reviews.csv'
df = pd.read_csv(r'/Users/patriciajaquez/Documents/Documents - Patricia’s MacBook Pro/GitHub/Analisis-de-inversion-inmobiliario/data/reviews.csv')

In [6]:
# Imprimir primeras filas del dataset
df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2380142,10672100,2014-03-02,12601833,José,Fali y Elisabeth son unos anfitriones increíbl...
1,2380142,10963017,2014-03-15,9555058,Els,What a pleasure to stay at fali’s and elisabet...
2,2380142,11254456,2014-03-26,1237482,Elaine,Elizabeth and Falli are excellent hosts. They ...
3,2380142,11489468,2014-04-05,11635565,Belén,"Unos anfitriones estupendos, super atentos y e..."
4,2380142,11522613,2014-04-06,546102,Mary,"La casa está muy bien ubicada, a dos pasos de ..."

In [7]:
#Imprimir información del dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445780 entries, 0 to 445779
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     445780 non-null  int64
 1   id             445780 non-null  int64
 2   date           445780 non-null  object
 3   reviewer_id    445780 non-null  int64
 4   reviewer_name  445779 non-null  object
 5   comments       445762 non-null  object
dtypes: int64(3), object(3)
memory usage: 20.4+ MB

In [9]:
# Imprimir cantidad de nulos
print("Cantidad de nulos en cada columna:")
print(df.isnull().sum())

Cantidad de nulos en cada columna:
listing_id        0
id                0
date              0
reviewer_id       0
reviewer_name     1
comments         18
dtype: int64

In [10]:
# Duplicados
print("Cantidad de duplicados:")
print(df.duplicated().sum())

Cantidad de duplicados:
0